<% content_for :title, "Editar montagem" %>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>Editar montagem</h1>
      <p class="subtitle">Atualize as informações do computador</p>
    </div>

    <div class="card-body">
      <%= render "form", computer: @computer %>
    </div>

    <div class="card-footer">
      <%= link_to "← Voltar", computers_path, class: "btn btn-secondary" %>
      <%= link_to "Ver montagem", @computer, class: "btn btn-primary" %>
    </div>
  </div>
</div>