<p class="notice"><%= notice %></p>

<% content_for :title, "Computers" %>

<div class="container">

  <div class="page-header">
    <h1>Montagens</h1>
    <%= link_to "＋ Nova montagem", new_computer_path, class: "btn btn-primary" %>
  </div>

  <div class="grid">
    <% @computers.each do |computer| %>
      <div class="card-item">
        <%= render computer %>

        <div class="card-actions">
          <%= link_to "Ver detalhes", computer, class: "btn btn-secondary" %>
        </div>
      </div>
    <% end %>
  </div>

</div>