@import "bootstrap/scss/bootstrap";

body {
  background-color: #212529; /* Fundo Escuro */
  color: #f8f9fa; /* Texto Claro */
}
.navbar {
  background-color: #343a40 !important;
}
.footer {
  background-color: #343a40;
  color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
  margin-top: 50px;
}

